<div class="section-title">{{model.title}}</div>
<div class="rows">
  {{#each model.options as |option|}}
    <div class="row select-option-row" {{action 'select' option}}>
      <div class="left">{{option.title}}</div>
      <div class="right">
        {{selected-option option.value model.selectedValue '<i class="fa fa-check-square-o"></i>'}}
      </div>
    </div>
  {{/each}}
</div>
