<div class="form-group">
  <div class="navbar">
    <h2><a role="button">Head</a></h2>
    <ul class="navbar-links">
      <li><a role="button">Workspace</a></li>
      <li><a role="button">Admin</a></li>
    </ul>
    <ul class="navbar-links pull-right">
      {{cw-navbar-dropdown-li options=preferenceOptions}}
    </ul>
  </div>
</div>
